$gray-color: #1e1e1e;
$black-dr-color: #010101;
$black-tw-color: #252526;
$black-bt-color: #212322;
$gray-bg-color: #474849;
$gray-tx-color: #858585;
$gray-tw-color: #8c8c8c;
$gray-lt-color: #a9aaab;
$gray-br-color: #c4c4c4;
$white-color: #efefef;
$white-tw-color: #ffffff;
$white-th-color: #d9d9d9;
$blue-sb-color: #c1e6ef;
$blue-bk-color: #e6f2f5;
$blue-color: #1b4079;
$green_color: #339989;
$green-tw-color: #4ec283;
$yellow_color: #bd9135;
$yellow-tw-color: #c59014;
$yellow-bc-color: #e69f00;
$red-color: #da4167;
