.sidebar {
  max-width: 200px;
  height: 100vh;
}
.sidebar__container {
  padding: 15px;
}

/**--logo-**/
.sidebar__logo {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d3d1d1;
}

.sidebar__logo-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  letter-spacing: 0.5px;
}

.nav-sidebar {
  padding: 15px;
}
.sidebar-link {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: black;
  font-weight: 600;
  gap: 5px;
}
.sidebar-link:hover {
  color: rgb(207, 70, 70);
}
